body {
  background-color: rgba(245, 222, 179, 0);
}

.navigation {
  position: sticky;
  top: 0;
  background-color: #d64045;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  z-index: 10;

  flex-wrap: wrap;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.main-container {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 700px;
}
.btns-container button,
a {
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.btns-container button:hover,
a:hover {
  background-color: #e65156;
}

input {
  margin: 5px;
}

.f-container .f-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.f-container .f-row h1 {
  color: #d64045;
}

.f-container .f-row h5 span {
  font-size: 30px;
}

/*  */

.f-container .s-row {
  margin-top: 20px;
  display: flex;
}

.f-container .t-row,
.f-container .frth-row {
  display: flex;
}

.s-container .links-ul-container li a {
  color: blue;
}

.s-container .links-ul-container li a:hover {
  background-color: rgba(240, 248, 255, 0);
}

.s-container .links-ul-container li {
  margin-top: 10px;
}

.btnDeleteStore {
  font-size: 14px;
  background-color: white;
  border: none;
  color: rgb(209, 46, 17);
}

.pictures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.per-photo-container {
  position: relative;
}

.pictures-container img {
  border: 1px solid black;
  margin: 5px;
  height: 150px !important;
  width: 150px !important;
}

.btnDeleteImage {
  position: absolute;
  left: 6px;
  top: 6px;
}

/*  */

.frm-new-link {
  max-width: 300px;
  margin: auto;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  display: none;
}

.frm-new-link .input-container {
  position: relative;
  margin-top: 10px;
}

.frm-new-link .input-container label {
  position: absolute;
  left: 15px;
  top: -5px;
  font-size: 12px;
  background-color: white;
  padding: 0px 10px;
}

.frm-btns-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.frm-btns-container button,
.frm-btns-container input {
  margin: 5px;
}

/*  */

.frm-new-photo {
  max-width: 300px;
  margin: auto;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  display: none;
}

/*  */

@media screen and (max-width: 400px) {
  .f-container .f-row {
    flex-direction: column;
  }

  .f-container .f-row img {
    height: 100px;
    width: 100px;
  }

  .f-container .f-row h1 {
    font-size: 25px;
    margin-top: 10px;
  }

  .f-container .f-row h5 {
    font-size: 15px;
  }
  .f-container .f-row h5 span {
    font-size: 20px;
  }

  .f-container .t-row,
  .f-container .frth-row {
    flex-wrap: wrap;
  }
}
