.banner-container {
  background-color: black;
  position: relative;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.banner-container h1 {
  font-size: 40px;
  font-weight: 600;
  z-index: 5;
  color: white;
  text-align: center;
}

.banner-container p {
  font-size: 18px;
  z-index: 5;
  color: white;
}

.bottom-banner {
  font-size: 14px;
}

.blog-content-container {
  margin-bottom: 60px;
  margin-top: 20px;
}

.blog-content-top-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bctc-left {
  margin-right: 20px;
  height: 300px;
  width: 450px;
}

.bctc-left .bctc-date {
  background-color: #ffafaf;
  color: #b23a48;
  padding: 10px;
}

.bctc-left p {
  font-size: 12px;
}

.bctc-right-img-container {
  width: 450px;
  height: 300px;
  position: relative;
}

.bctc-right-img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blog-content-bottom-container p {
  font-size: 12px;
  margin-top: 20px;
}

@media screen and (max-width: 990px) {
  .blog-content-top-container {
    justify-content: center;
  }

  .bctc-left {
    width: 100%;
    margin-right: 0px;
  }

  .banner-container h1 {
    font-size: 35px;
  }
  
  .banner-container p {
    font-size: 15px;
  }
  
}
@media screen and (max-width: 530px) {
  .bctc-right-img-container img {
    margin-top: 70px;
    height: 80%;
  }
  .banner-container h1 {
    font-size: 25px;
  }
  
  .banner-container p {
    font-size: 15px;
  }
}
