.page-establishment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px rgb(88, 88, 88);
  padding: 20px 50px;
}

.page-establishment-header h3 {
  font-weight: 600;
  color: #4b4b4b;
}

.page-establishment-container img {
  height: 100px;
  width: 100px;
}

/*  */

.establishment-page-details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/*  */

.epdc-left-container {
  height: 400px;
}

/*  */

.epdc-right-container {
  width: 500px !important;
  height: 400px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.picture-title h5 {
  color: #d64045;
}

.carousel {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #d64045;
}

@media screen and (max-width: 990px) {
  .epdc-right-container {
    margin-top: 40px !important;
  }
}
