.login-container {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  margin-top: 30px;
  box-shadow: 1px 1px 5px rgb(134, 134, 134);
  border-radius: 5px;
  max-width: 800px;
  padding-right: 0px !important;
}

.login-container .login-left-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-container .login-right-container {
  width: 50%;
  background-color: #d64045;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.frm-login {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frm-login h1 {
  font-size: 25px;
  font-weight: 800;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}

.input-container label {
  font-weight: 600;
}

.input-container input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(155, 124, 124, 0);
  box-shadow: 1px 1px 5px rgb(110, 110, 110);
  padding: 10px;
  outline: none;
  margin-top: 5px;
}

.input-container #showPassword,
#showPassword2 {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background-color: rgba(116, 7, 7, 0);
  height: 40px;
  width: 50px;
  font-size: 15px;
  color: rgb(63, 63, 63);
}

.btn-submit-container {
  margin-top: 40px;
}

.btn-submit-container button {
  background-color: #ec0b43;
  color: white;
  font-weight: 600;
}

.btn-submit-container p {
  font-weight: 500;
  text-decoration: underline;
  margin-top: 10px;
}

.btn-submit-container p a {
  color: #d64045;
}

.dont-have-account {
  color: black;
  font-weight: 600;
}

.btn-register-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invalid-feedback {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
}

@media screen and (max-width: 800px) {
  .login-container {
    justify-content: center;
    max-width: 400px;
  }
  .login-container .login-right-container {
    display: none;
  }

  .login-container .login-left-container {
    width: 100%;
  }
}
