* {
  font-family: "poppins", sans-serif;
}

.header-ul li {
  margin: 0px 30px;
  list-style: none;
  margin-top: 10px;
}

.ICDS {
  font-size: 15px;
}

.navbar {
  padding: 10px 30px;
}

/* side nav */

.sidebar {
  width: 250px;
  height: 90vh;
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
}

.sidebar ul {
  padding: 20px 0px;
  height: 90vh;
}

.sidebar ul li {
  list-style: none;
  margin: 12px 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  padding: 10px 60px;
  width: 100%;
}

.sidebar ul li a:hover {
    background-color: rgb(247, 247, 247);
}
